.message {
    background-color: white;
    border-color: lightgrey;
    color: black;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.imageAndText {
}

.imageAndText img {
    width: 50px;
    border-radius: 50px;
    align-items: flex-end;
}

.text {
    text-align: right;
    background-color: blue;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: medium;
}

.text:after {

}

.name {

}

.messageText {
    font-family: sans-serif;
}

.time {
    font-family: sans-serif;
    text-align: right;
}